# Ignore MATLAB autosave files
*.asv

# Ignore MATLAB backup files
*.bak

# Ignore MATLAB binary files
*.mat

# Ignore MATLAB MEX files
*.mex*

# Ignore MATLAB P-code files
*.p

# Ignore MATLAB Simulink cache files
slprj/
Regrasp_2nd_Python/__pycache__/

# Ignore MATLAB Simulink model files
*.slx
*.mtb
*.log

# Ignore MATLAB Simulink state files
*.states

.DS_Store
```

# Ignore depedency from third party
Regrasp_Dependency/

test_env

logfile.mtb

*.ini

*.csv

.conda/

*.avi

*.txt

*.nev

*.ns2

*.cache

*.mp4

*.ns5

Data/

*.png

checkpoints/

*.gif